*{
  margin: 0;
  padding: 0;
  font-family: 'Akronim', cursive;

  font-family: 'Bebas Neue', cursive;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/backgroundhome.jpg);
  background-position: center;
  background-size: cover;
  position: relative;


}
img.logo{
  border-radius: 50px;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}


.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-bttn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-bttn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.2s;
}


/*------CALL TO ACTION------*/
.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/contact.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

/*--------footer------*/

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;

}

.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o{
  color: #f44336;
}

/*----------------CUSTOMER DETAILS PAGE----------*/

.subheader{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/customers.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #c0c0c0;
}

.subheader h1{
  position: center;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: white;
  padding-left:0px;
  padding-right: 0px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: 	#008080;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr:nth-of-type(even) {
  color: #009879;
}

/*----------------TRANSFER MONEY PAGE----------*/
.transferheader{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/transfer.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #c0c0c0;

}

.transferheader h1{
  position: center;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: white;
  padding-left:0px;
  padding-right: 0px;
}

.sec{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

.transfermon{
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.transfermon .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.transfermon .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

.transfermon form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;

}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}

form .button{
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

form .button input:hover{
  background: linear-gradient(-135deg,#71b7e6,#9b59b6);
}

.logo2{
  border-radius: 50px;
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
